html {
    font-family: Palatino, serif;
}
main {
    max-width: 1366px;
    margin: auto;
}

/* header */
header {
    display: flex;
}

.left {
    /*border: 1px solid black;*/
    display: flex;
    width: 25%;
}    

.left ul {
    list-style-type: none;
    padding-left: 43px;
    padding-top: 10px;
}

.left ul li:first-child {
    font-weight: bold;
}
.left ul li:last-child {
    font-size: 14px;
}

.right-nav {
    /*border: 1px solid black;*/
    width: 75%;
}

.right-nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.right-nav ul li {
    list-style-type: none;
    /*border: 1px solid black;*/
}

.right-nav ul li:last-child{
    padding-right: 13px;
}

.right-nav ul li a {
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
}

.right-nav ul li a:hover {
    color: white;
    background-color:#B4C8FF;
    transition: 0.3s;
    border-radius: 10px;
}

/* hero */

.hero {
    width: 100%;
    height: 650px;
    background-color: #B4C8FF;
    color: #fff;
    display: flex;
}

.mck {
    width: 500px;
    height: 200px;
    margin-left: 150px;
    margin-top: 180px;
}

.mck p {
    font-size: 24px;
}

span {
    font-weight: bold;
    font-size: 40px;
}



button {
    border: none;
    background-color: #fff;
    color: black;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.19);
}

.mck a button:hover {
    cursor: pointer;
}

.links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.links ul li {
    list-style-type: none;
    display: flex;
   justify-items: flex-start;
   padding: 20px 15px 15px 0;
}

.links ul li a {
    color: white;
}

.image {
    display: flex;
    margin-left: 200px;
    margin-top: 150px;
}
.image img {
    height: 300px;
    width: 300px;
}

/* main section */

.about {
    width: 75%;
    display: flex;
    margin-top: 55px;
    margin-bottom: 80px;
}

.aboutme {
    color: #E2E2E2;
    font-size: 50px;
    font-weight: bold;
    flex-direction: column; /* Flexbox by default displays items in a horizontal row. This line is saying to display the two divs in Sidebar as a vertical column */
    flex-grow: 1; /* Using this to define the left column as the first item in the row */
    flex-shrink: 0; 
    flex-basis: 0;
    transform: rotate(-90deg);
    margin-left: 130px;
}

.bio {
    flex-direction: column; /* Flexbox by default displays items in a horizontal row. This line is saying to display the two divs in Sidebar as a vertical column */
    flex-grow: 2; /* Using this to define the left column as the first item in the row */
    flex-shrink: 0; 
    flex-basis: 0;
}

/* cards*/

* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
 .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 75vh;
    margin-bottom: 70px;
  }

.group3 {
  position: absolute;
}

.group3 img {
    width: 350px;
}
  
  .card {
    position: relative;
    background:#E2E2E2;
    width: 300px;
    height: 62vh;
    border-radius: 6px;
    padding: 2rem;
    color: #aaa;
    box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
      0 0 1rem rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 30px;
    margin-top: 60px;
  }

  .card:first-child {
    margin-left: 100px;
  }

  .projects {
    font-size: 50px;
    font-weight: bold;
    transform: rotate(90deg);
    color: #E2E2E2;
    padding-left: 20px;
}

.card-buttons {
    margin: 0;
    border: none;
    background-color: #fff;
    color: black;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.1), 0 4px 5px 0 rgba(0,0,0,0.1);
}

.card-buttons:hover {
    background-color:#B4C8FF;
    color: white;
    cursor: pointer;
    padding: 9px 32px;
}

footer {
    display: flex;
    border-top: 1px solid black;
    margin-top: 50px;
  }
  .bottom-right {
      text-align: right;
      margin-left: 700px; 
  }

  .bottom-right ul {
    list-style-type: none;
}

/*   Responsive iPad 768px */

@media only screen and (max-width:768px) {
    
    /* navigation */
    .left ul {
        list-style-type: none;
        padding-left: 43px;
        padding-top: 0px;
    }
    
    .left ul li:first-child {
        font-size: 14px;
        font-weight: bold;
    }
    .left ul li:last-child {
        font-size: 12px;
    }

    .right-nav ul {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
    }

/* hero */

    .hero {
        width: 100%;
        height: 625px;
        background-color: #B4C8FF;
        color: #fff;
        display: flex;
    }
    .mck {
        width: 300px;
        height: 100px;
        margin-left: 100px;
        margin-top: 150px;
    }
    
    .mck p {
        font-size: 20px;
    }
    
    span {
        font-weight: bold;
        font-size: 30px;
    }
    
    button {
        border: none;
        background-color: #fff;
        color: black;
        padding: 8px 63px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.19);
    }
    
    .mck a button:hover {
        cursor: pointer;
    }
    
    .links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .links ul li {
        list-style-type: none;
        display: flex;
       justify-items: flex-start;
       padding: 20px 15px 15px 0;
    }
    
    .links ul li a {
        color: white;
    }
    
    .image {
        /*display: flex;*/
        margin-left: 50px;
        margin-top: 180px;
    }
    .image img {
        height: 200px;
        width: 200px;
    }

    /*bio section*/

    .about {
        width: 100%;
        display: block;
        margin-top: 55px;
        margin-bottom: 80px;
    }
    
    .aboutme {
        color: #E2E2E2;
        font-size: 50px;
        font-weight: bold;
        transform: rotate(0deg);
        margin-left: 0;
        text-align: center;
        
    }
    
    .bio p {
        margin: 15px;
    }

    /* Projects */

    * {
        box-sizing: border-box;
        line-height: 1.5;
      }
      
      img {
        max-width: 100%;
      }
      
     .container {
        display: block;
        align-items: center;
        /*justify-content: flex-start;*/
        height: 120vh;
        margin-bottom: 10px;
      }
    

    .group3 {
      position: absolute;
    }
    
    .group3 img {
        width: 350px;
    }
      
      .card {
        position: relative;
        display: inline-block;
        background:#E2E2E2;
        width: 250px;
        height: 50vh;
        border-radius: 6px;
        padding: 2rem;
        color: #aaa;
        box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
          0 0 1rem rgba(0,0,0,0.2);
        overflow: hidden;
        margin-top: 0px;
      }
      .card:first-child {
        margin: 60px;
      }

      .card__title {
        font-size: 18px;
      }

      .card__content p {
          font-size: 14px;
      }

      .projects {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        transform: rotate(0deg);
        color: #E2E2E2;
        padding-left: 20px;
    }
    

/* Footer */

footer {
    max-height: 50px;
    border-top: 1px solid black;
  }
  .bottom-right {
      text-align: right;
      margin-left: 200px; 
  }

  .bottom-right ul {
    list-style-type: none;
}

footer .left ul {
        list-style-type: none;
        padding-left: 43px;
        padding-top: 0px;
    }
    
footer .left ul li:first-child {
        font-size: 14px;
        font-weight: bold;
    }
footer .left ul li:last-child {
        font-size: 12px;
    }
}


